@import "tailwindcss";

@font-face {
    font-family: "neue-medium";
    src: url(font/neuehaasgrotesk-medium.otf);
}

@font-face {
    font-family: "neue-regular";
    src: url(font/neuehaasgrotesk-regular.otf);
}

@font-face {
    font-family: "queering";
    src: url(font/queering.otf);
}

.inter-menu {
    font-family: Inter;
    font-weight: 500;
    font-size: large;
    letter-spacing: -0.03em;
}

.inter-body {
    font-family: Inter;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: -0.01em;
    line-height: 101%;
}

.inter-chip {
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.03em;
}

.neue-regular {
    font-family: "neue-regular", serif;
    font-size: 28px;
    line-height: 95%;
    letter-spacing: -0.01em;
}

.neue-medium {
    font-family: "neue-medium";
    line-height: 95%;
    letter-spacing: -0.04em;
}

.neue-card-label {
    font-family: "neue-medium";
    font-size: 23px;
    line-height: 95%;
    letter-spacing: -0.01em;
}

.inter-card-label-subtitle {
    font-family: Inter;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: #000000cc;
}

.inter-portfolio-card {
    font-family: Inter;
    font-weight: 600;
    letter-spacing: -0.03em;
    font-size: 30px;
}

.jb-mono-portfolio-card {
    font-family: "JetBrains Mono";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.06em;
}

.inter-waveslider-display {
    font-family: Inter;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.inter-waveslider-header {
    font-family: Inter;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.queering-groovechart-display {
    font-family: "queering";
    font-size: 150px;
}

.queering-groovechart-header {
    font-family: "queering";
}